# Python Practical 1: Basic data types in Python, functions, conditions, loops, files

#### By Dr. Alastair Channon (previously Mr. David Collins, Dr. Kelcey Swain)

## Getting Started

The practicals for this module will work if you are logged into one of the Central Science Laboratory (CSL) or School Lab PCs running Windows.  They may also work elsewhere (or running a different operating system) but in case of any difficulties, please log into one of the CSL or School Lab PCs running Windows.

If you are working on your own PC, first install Python.  Windows users can download and run [this file](https://www.python.org/ftp/python/3.13.7/python-3.13.7-amd64.exe); tick "Add python.exe to PATH" before clicking "Install Now".  There are instructions for macOS users [here](https://docs.python.org/3/using/mac.html#installation-steps).  Linux users can install *conda* and then run *conda create -n fop python=3.13.7* (just once) and then *conda activate fop* (each time you want to use this version of Python).

Once you have logged into one of the CSL or School Lab PCs (or installed Python on your own Windows computer), click the Windows Start Menu, type *command* and click *Command Prompt*.  Python comes with an interactive interpreter. When you type *python* at the command prompt (and press enter), the Python interpreter becomes active with a `>>>` prompt and waits for your commands.
Now you can type any valid Python expression at the prompt. Python reads the typed expression, evaluates it and prints the result.  To exit the Python interpreter, type *exit()* and press enter.

Start by trying the following at the Python interpreter prompt:

In [4]:
42

42

In [2]:
4 + 2

6

In [3]:
print("Hello world!")

Hello world!

Now type the above line of code into a text editor (such as Notepad for Windows users) and save it as `hello.py`

Make sure you are in the same directory as your file and run this code by typing `python hello.py` on the command line.

## Using Jupyter Notebook / JupyterLab

The module's practical notebooks are available as both PDF files and *Jupyter Notebook* files.  You may like to get started by reading the PDF version and typing code into Python's interactive interpreter.  In time, try using the Jupyter Notebook files, which should help you to make more rapid progress through the practicals.

If you are working on your own PC and have already installed Python as above, you can install Jupyter by typing *pip install jupyter* at the command prompt (and press enter).

To open one of the practical Jupyter Notebook files within Windows, start by downloading it from the KLE and saving it somewhere you can find it later, for example to your Downloads folder.  Then right-click on that folder and select "Open in Terminal".  (Alternatively, click the Windows Start Menu, type *command*, click *Command Prompt*, and use the *cd* command to change directory to that folder.)  At the terminal's command prompt, type *jupyter notebook* and press enter.  Once Jupyter has opened in a browser window, open the Jupyter Notebook file that you downloaded (and wait).  Now you can run and edit code within the practical notebook.

For simplicity, it is a good idea to start by using Jupyter Notebook for the practical notebooks and a simple text editor (such as Notepad for Windows users) for stand-alone Python files (such as hello.py above).  It is perfectly fine to complete this module using these.  However, at some point you might like to use an integrated development environment (IDE) such as JupyterLab (simply type *jupyter lab* rather than *jupyter notebook*) or [Spyder](https://www.spyder-ide.org/download).

## Assignment and variables
One of the building blocks of programming is associating a name to a value. This is called assignment. The associated name is usually called a variable.

In [4]:
x = 4
x * x

16

In this example `x` is a variable and its value is 4

If you try to use a name that is not associated with any value python gives an error message

In [5]:
brian

NameError: name 'brian' is not defined

In [6]:
brian = 42
brian

42

## Overwriting values
If you reassign a different value to an existing variable the new value overwrites the old value.

In [7]:
x = 4
x

4

In [8]:
x = 'hello'
x

'hello'

It is possible to do multiple assignments at once.

In [9]:
a, b = 1, 2
a

1

In [10]:
b

2

In [11]:
a + b

3

## Swapping
Swapping values of two variables in python is very simple. When executing assignments, python evaluates the right hand side first and then assigns those values to the variables specified in the left hand side.

In [12]:
a, b = 1, 2
a, b = b, a
a

2

In [13]:
b

1

## Numbers and Operators
Python supports the following operators on numbers:
* `+` addition
* `-` subtraction
* `*` multiplication
* `/` division
* `**` exponent
* `%` remainder

Python supports integer numbers:

In [14]:
42

42

In [15]:
4 + 2

6

Python also supports decimal numbers (known as floats).

In [16]:
4.2

4.2

In [17]:
4.2 + 2.3

6.5

## Mixed Operands
Be careful, on older versions of Python dividing and integer by an integer produces an integer i.e. `7/2 = 3`. If at least one of the operands is a float this will not happen.

In [21]:
7/2

3.5

## Booleans
* The truth values `True` and `False`
* Numerically, `0` is `False`, `1` is `True`
* Other types have boolean values:
    * `int`: `0` is `False`, other values are `True`
    * `float`: `0.0` is `False`, other values are `True`
    * `string`: `""` is `False`, non-empty values are `True`
    * Empty containers are `False`, non-empty containers are `True`

In [22]:
bool("")

False

In [23]:
bool(2)

True

In [24]:
bool(0.1)

True

In [25]:
bool([])

False

In [26]:
bool([1])

True

## `None`
* None is a special object in Python and is used (by the programmer) to represent 'no-value'.
* As it is an object, it cannot be used to check for the non-existence of a variable.
* The `is` operator should be used to check whether the value of a variable is `None` rather than `==` which is the test for equality.
* Similarly `is not` should be used rather than `!=` (the test for inequality).
* Don't worry too much about this right now, the subtle difference will be explained later.

## Precedence
* There are strict rules of precedence
* All the operators except `**` are left-associative, that means that the application of the operator starts from left to right where precedence is equal.
* Precedence may be overcome by using parenthesis.

In [27]:
2 + 3 * 4

14

In [28]:
(2 + 3) * 4

20

### Precedence Order (low to high)
| Operator | Description |
| --- | --- |
| `lambda` | Lambda expression |
| `if` - `else` | Conditional expression |
| `or` | Boolean OR |
| `and` | Boolean AND |
| `not x` | Boolean NOT |
| `in`, `not in`, `is`, `is not`, `<`, `>`, `<=`, etc. | Comparisons |
|  | Bitwise OR |
| `^` | Bitwise XOR |
| `&` | Bitwise AND |
| `<<`, `>>`| Shift |
| `+`, `-` | Addition and subtraction |
| `*`, `@`, `/`, `//`, `%` | Multiplication, matrix multiplication, division, remainder |
| `+x`, `-x`, `~x` | Positive, negative, bitwise NOT |
| `**` | Exponential |
| `await x` | Await expression |
| `x[index]` | subscription |
| `(expressions...)`, `[expressions...]`, `{key: value...}`, `{expressions...}` | Binding or tuple display, list display, dictionary display, set display |

## Typecasting
* To convert between types you simple use the type name as a function.
* In addition, several built-in functions are supplied to perform special kinds of conversions.
* All of these functions return a new object representing the converted value.
* The `type()` function can be used to determine the type of a variable or value.

In [29]:
type(7)

int

In [30]:
type("hello")

str

In [31]:
type(3.0)

float

In [32]:
type(None)

NoneType

### Typecasting Functions
| Function | Description |
| --- | --- |
| `int(x [,base])` | Converts `x` to an integer, `base` specifies the base if `x` is a string. |
| `long(x [,base])` | Converts `x` to a long integer, `base` specifies the base if `x` is a string. |
| `float(x)` | Converts `x` to a floating-point number. |
| `complex(real [,imag])` | Creates a complex number. |
| `str(x)` | Converts object `x` to a string representation. |
| `repr(x)` | Converts object `x` to an expression string. |
| `eval(str)` | Evaluates a string and returns an object. | 
| `tuple(s)` | Converts `s` to a tuple. |
| `list(s)` | Converts `s` to a list. |
| `set(s)` | Converts `s` to a set. |
| `dict(d)` | Creates a dictionary. `d` must be a sequence of `(key, value)` tuples. |
| `frozenset(s)` | Converts `s` to a frozen set. |
| `chr(x)` | Converts an integer to a character. |
| `unichr(x)` | Converts an integer to a Unicode character. |
| `ord(x)` | Converts a single character to its integer value. |
| `hex(x)` | Converts an integer to a hexadecimal string. |
| `oct(x)` | Converts an integer to an octal string. |

## Functions
Just as a value can be associated with a name, a piece of logic can also be associated with a name by defining a *function*.

In [33]:
def square(x):
    return x * x

square(5)

25

Functions can be used in any expressions.

In [34]:
def square(x):
    return x * x

print(square(2) + square(3))
print(square(square(3)))

13
81

Existing functions can be used in creating new functions.

In [35]:
def square(x):
    return x * x

def sum_of_squares(x, y):
    return square(x) + square(y)

print(sum_of_squares(2,3))

13

### Assigning Functions
Functions are just like other values, they can be assigned, passed as arguments to other functions, etc.

In [36]:
def square(x):
    return x * x

def cube(x):
    return x * x * x

f = square
f = cube

def fxy(f, x, y):
    return f(x) + f(y)

print(f(4))
print(fxy(square, 2, 3))

64
13

## Task 1
Implement and test a function that returns the floating point value of a first argument divided by a second argument

In [1]:
# Try to solve this task here
def task_2(x, y):
    return float (x) / float (y)

print(task_2(12, 4))
print(type(task_2(12, 4)))

3.0
<class 'float'>

In [3]:
# Click here for a solution

def task_1(x, y):
    return float(x) / float(y)

print(task_1(20,3))
print(type(task_1(20, 3)))

6.666666666666667
<class 'float'>

## Task 2
Define and test a function that receives two integer numbers in **string** form, computes their sum and returns it to the calling program. Hint: use `int()` to convert a string to an integer.

In [1]:
# Try to solve this task here
def task_1(a, b):
    return int (a) + int(b)

print(task_1('4', '6'))

10

In [2]:
# Click here for a solution

def task_2(a, b):
    return int(a) + int(b)

print(task_2('2', '4'))

6

In [39]:
# NB
eval('2 + 4')

6

## Local and Global
Variables assigned in a function, including the arguments are called the **local variables** to the function. The variables defined in the **top-level** (outside of any functions) are called **global variables**.

In [40]:
x = 0
y = 0

def incr(x):
    y = x + 1
    return y

incr(5)
print(x, y)

0 0

## Keyword Arguments
Functions can be called with keyword arguments.

In [41]:
def difference(x, y):
    return x - y

print(difference(5,2))
print(difference(x=5, y=2))
print(difference(5, y=2))
print(difference(y=2, x=5))

3
3
3
3

## Default Argument Values
Arguments can have default values.

In [42]:
def increment(x, amount=1):
    return x + amount

print(increment(10))
print(increment(10,5))
print(increment(10, amount=2))

11
15
12

## `lambda`
There is another way of creating functions, using the **lambda operator**.

Notice that unlike function definitions, lambda doesn't need a return statement. The body of the lambda is a single expression.

In [43]:
sum = lambda x, y: x + y
print(sum(3,4))

7

In [44]:
cube = lambda x: x ** 3
print(cube(4))

64

## Methods
Methods are a special kind of function that work on an object. For example, `upper` is a method available on string objects. Methods are also functions. They can be assigned to other variables and can be called separately.

In [45]:
x = "hello"
print(x.upper())

"hello".upper()

HELLO

'HELLO'

In [46]:
x = "goodbye"
f = x.upper
print(f())

GOODBYE

## Comparison
Python provides various operators for comparing values. The result of a comparison is a boolean value, either `True` or `False`.

Here is the list of available conditional operators

| Symbol | Meaning |
| --- | --- |
| `==` | equal to |
| `!=` | not equal to |
| `<` | less than |
| `>` | greater than |
| `<=` | less than or equal to |
| `>=` | greater than or equal to |

In [47]:
print(2 != 2)

False

In [48]:
print(2 > 3)

False

## Combining Operators
It is even possible to combine these operators.

In [49]:
x = 5
2 < x < 10

True

In [50]:
2 < 3 < 4 < 5 < 6

True

The conditional operators work on strings. The ordering is *lexical*.

In [51]:
"python" > "perl"

True

In [55]:
"python" > "java"

True

## Logical Operators
There are a few logical operators to combine boolean values:
* a `and` b is `True` only if both a and b are `True`.
* a `or` b is `True` if either a or be is `True`.
* `not` a is `True` only if a is `False`.

In [56]:
True and True

True

In [57]:
True and False

False

In [58]:
2 < 3 and 5 < 4

False

In [59]:
2 < 3 or 5 < 4

True

## Task 3
Implement and test a function that returns `True` if a first argument is greater than a second argument and `False` otherwise.

Hint: Do not use the `if` keyword as we have not yet covered it and it is unnecessary at this stage.

In [9]:
# Try to solve this task here
x = 12
y = 10
if x < y:
    print(True)
else:print(False)

False

In [10]:
# Click here for a solution

def task_3(x, y):
    return x > y

print(task_3(4, 2))
print(task_3(4, 6))

True
False

## `if`
The `if` statement is used to execute a piece of code **only** when a boolean expression is `True`.

In the following example, `print('even')` is executed **only** when `x % 2 == 0` is `True`.

In [61]:
x = 44
if x % 2 == 0:
    print('even')

even

## User Input
"Real" programs tend to have command-line or graphical interfaces. Sometimes we want to test functions with information gathered from the user:

In [ ]:
name = input("What is your name? ")
print("Hello " + name + "!")
age = input("How old are you? ")
print("So, you are " + name + " and you are " + age + " years old!")

NB: The input is a STRING, if you want something else then you must typecast it or use the `eval()` function.

## `if` and Blocks
The code associated with `if` can be written as a separate indented block of code, which is often the case when there is more than one statement to be executed. The sequence of code at a given indent is a **block**.

In [3]:
x = 43

if x % 2 == 0:
    print('even')
    print(str(x) + " divided by 2 has no remainder.")

## `else`
The if statement can have an optional `else` clause, which is executed when the boolean expression is `False`. The `else` clause may also have an indented block of code to be executed.

In [2]:
x = 4
if x % 2 == 0:
    print('even')
else:
    print('odd')

even

## `elif`
The if statement can have optional `elif` clauses when there are more conditions to be checked. The `elif` keyword is short for *else if*, and is useful to avoid excessive indentation.

In [4]:
x = 42
if x < 10:
    print('one digit number')
elif x < 100:
    print('two digit number')
else:
    print('big number')

two digit number

## Loops - `for`
`for` loops are used when you have a block of code which you want to repeat a fixed number of times. The Python `for` statement iterates over the members of a sequence in order, executing the block each time.

In [5]:
for x in range(0, 5):
    print("Iteration %d" % x)

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

It is important to note that the `range()` function produces a list. This is discussed at a later point. Also note that the end value is not included.

## Loops - `while`
Contrast the `for` statement with the `while` loop, used when a condition needs to be checked prior to each iteration, or to repeat a block of code forever. You can also `break` a `while` loop at any time.

In [6]:
count = 0
while (count < 9):
    print('The count is: ', count)
    count = count + 1

print('Complete')

The count is:  0
The count is:  1
The count is:  2
The count is:  3
The count is:  4
The count is:  5
The count is:  6
The count is:  7
The count is:  8
Complete

## Task 4
Write and test a program that will prompt for and obtain numbers from the user **until** the user enters an empty string (i.e. the user hits RETURN without typing a number). At this stage print the sum of all the numbers entered.

In [5]:
# Try to solve this task here
sums = 0

while True:
    x = input("Enter a number: ")
    if not x: break
    sums = sums + int(x)

print(sums)

Enter a number:  2
Enter a number:  67
Enter a number:  45
Enter a number:  4
Enter a number:  5
Enter a number:  6
Enter a number:  556
Enter a number:  6
Enter a number:  7
Enter a number:  765
Enter a number:  5
Enter a number:  4
Enter a number:  445
Enter a number:  6
Enter a number:  7
Enter a number:  7
Enter a number:  54
Enter a number:  455
Enter a number:

2446

In [4]:
# Click here for a solution

total = 0

while True:
    n = input("Enter a number: ")
    if not n: break
    total = total + int(n)

print(total)

Enter a number:  4
Enter a number:  2
Enter a number:

6

## Task 5
Write a Python program to find those numbers which are both divisible by 7 and a multiple of 5, between 1500 and 2700 (inclusive)

In [17]:
# Try to solve this task here
results = []
for x in range (1500, 2701):
    if x % 7 == 0 and x  % 5 == 0:
        
        results.append(x)
print(results)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [18]:
# Click here for a solution

for i in range(1500, 2701):
    if i % 7 == 0 and i % 5 == 0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

## Lists
Lists are sequences delimited with the `[ ]` characters.

In [ ]:
[1, 2, 3, 4]

In [ ]:
["hello", "world"]

In [ ]:
x = [0, 1.5, "hello"]
print(x)

### List Membership
A list can contain another list as a member.

In [ ]:
a = [1, 2]
b = [1.45, 2, a]
print(b)

### `range()`
The built-in function `range()` can be used to create a list of integers from the first (optional) argument up to (but not including) the second argument. The third (optional) argument increments the list members. The latest versions of python do not show these as lists anymore, but as range objects.

In [ ]:
list(range(4))

In [ ]:
list(range(3,6)) == [3, 4, 5]

In [ ]:
list(range(2, 10 ,2))

In Python 3, if you want a range to behave like a list you just have to tell it to be a list by typecasting.

In [ ]:
list(range(10))

### `len()`
The built-in function `len()` can be used to find the length of a list.

In [ ]:
a = [1, 2, 3, 4]
len(a)

In [ ]:
len(range(10,1000, 3))

The `+` and `*` operators work on lists.

In [ ]:
a = [1, 2, 3]
b = [4, 5]
print(a + b)
print(b * 3)

What this what you expected them to do? Are there other ways these operators might have behaved?
i expected the results from the 1st one print(a+b). i didnt know the other one repeats a list

### Indexing
A list can be indexed using the `[]` characters to access individual entries. The value of the index can go from 0 to `len(list)-1`

In [1]:
x = [1, 2]
x[0]

1

In [2]:
x = [1, 2]
x[1]

2

#### List Exception
When an incorrect index is used, python generates an exception.

In [3]:
x = [1, 2, 3, 4]
x[6]

IndexError: list index out of range

#### Negative Indexing
Negative indices can be used to index the list from the right.

In [4]:
x = [1, 2, 3, 4]
x[-2]

3

### Slicing
We can use list slicing to get part of a list

In [5]:
x = [1, 2, 3, 4]
x[0:2]

[1, 2]

In [6]:
x = [1, 2, 3, 4]
x[1:4]

[2, 3, 4]

#### Slicing defaults
Slice indices have useful defaults; an omitted first index defaults to zero, an omitted second index defaults to the size of the list being sliced.

In [30]:
x = [1, 2, 3, 4]
x[:2]

[1, 2]

In [31]:
x = [1, 2, 3, 4]
x[2:]

[3, 4]

In [32]:
x = [1, 2, 3, 4]
x[:]

[1, 2, 3, 4]

#### Increment
An optional third index can be used to specify the increment, which defaults to 1. We can reverse a list, just by providing -1 for the increment.

In [33]:
x = [0,1,2,3,4,5,6,7,8,9]
x[0:6:2]

[0, 2, 4]

In [34]:
x = [0,1,2,3,4,5,6,7,8,9]
x[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Assignment to List Items
List members can be modified by assignment.

In [35]:
x = [1, 2, 3, 4]
x[1] = 5
x

[1, 5, 3, 4]

### Membership
The presence of a value in a list can be tested for by using the `in` operator.

In [39]:
x = [1, 2, 3, 4]
3 in x and 4 in x

True

In [37]:
x = [1, 2, 3, 4]
10 in x

False

### `append()`
Values can be appended to a list by calling the `append()` method on a list. A method is just like a function, but it is associated with an object and can access that object when it is called. We will learn more about methods when we study classes. Note that the value is *appended* not *inserted*.

In [40]:
a = [4, 8]
a.append(3)
a

[4, 8, 3]

### List Iteration
Python provides for statements to *iterate* over a list. A `for` statement executes the specified block of code for every element in a list.

In [41]:
for x in [1, 2, 3, 4]:
    print(x)

1
2
3
4

In [42]:
for i in range(10):
    print(i, i**2, i**3)

0 0 0
1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729

## Task 6
Write and test a function to return the first three and last three elements of a list passed as an argument.

For example: `task_6([1,2,3,4,5,6,7,8,9,10])` should return `[1,2,3,8,9,10]`

In [4]:
# Try to solve this task here
a = [1,2,3,4,5,6,7,8,9,10]
b = []

for i in range(3):
    b.append(a[i])
print(b)
for i in range(-3,0):
    b.append(a[i])
print(b)

[1, 2, 3]
[1, 2, 3, 8, 9, 10]

In [6]:
# Click here for a solution

def task_6(inList):
    return inList[:3] + inList[-3:]

task_6([1,2,3,4,5,6,7,8,9,10])

[1, 2, 3, 8, 9, 10]

### `zip()`
The built-in function `zip()` takes two lists and returns a list of pairs. It is handy when we want to iterate over two lists together.

In [48]:
a = zip(["a", "b", "c"], [1, 2, 3])
for i in a:
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [49]:
names = ["Abigail", "Benoit", "Charlotte"]
ages = [27, 31, 24]

for name, age in zip(names, ages): print(name,":", age)

Abigail : 27
Benoit : 31
Charlotte : 24

### `sort()`
The `sort()` method sorts a list *in place* i.e. it replaces the list with the sorted version.

In [53]:
a = [2, 10, 4, 3, 7]
a.sort()
a

[2, 3, 4, 7, 10]

### `sorted()`
The built-in function `sorted()` returns a *new* sorted list without modifying the source list.

In [54]:
a = [4, 3, 5, 9, 2]
print(sorted(a))
print(a)

[2, 3, 4, 5, 9]
[4, 3, 5, 9, 2]

### List of lists - `sort()`
The sort method used to work when the list has different types of objects, but this behaviour is depreciated. It can, however, sort lists which contain lists (in a fashion).

In [56]:
a = [[2, 3, 3], [1, 6], [0,2,3]]
a.sort()
a

[[0, 2, 3], [1, 6], [2, 3, 3]]

We can optionally specify a function as a sort key. The following example sorts all of the elements of the list based on the value of the second element `x[1]`.

In [57]:
a = [[2, 3], [4, 6], [6, 1]]
a.sort(key=lambda x: x[1])
a

[[6, 1], [2, 3], [4, 6]]

## Task 7
Shuffle a list of 52 playing cards (call them 1 through 52). Consider the efficiency of the algorithm you employ. You will need to look up [https://docs.python.org/3/library/random.html](https://docs.python.org/3/library/random.html)

In [14]:
# Try to solve this task here
import random
deck = random.sample(range(0, 52),51)

print(deck)

[28, 0, 44, 51, 37, 41, 11, 21, 22, 5, 9, 4, 43, 47, 50, 3, 26, 13, 6, 36, 8, 42, 2, 33, 20, 40, 45, 32, 27, 7, 39, 23, 12, 25, 16, 17, 38, 24, 14, 30, 46, 19, 29, 31, 49, 34, 15, 48, 18, 10, 1]

In [13]:
# Click here for a solution

import random
cards = list(range(52))

for i in range(52):
    a = random.randint(0, 51)
    b = random.randint(0, 51)
    cards[a], cards[b] = cards[b], cards[a]


print(cards)

[14, 27, 51, 15, 12, 20, 6, 7, 3, 2, 10, 18, 50, 19, 11, 49, 16, 37, 34, 29, 5, 17, 13, 33, 9, 24, 35, 42, 23, 4, 28, 31, 32, 1, 22, 46, 8, 44, 38, 39, 40, 41, 26, 30, 43, 45, 0, 21, 48, 47, 25, 36]

## Tuples
A Tuple is a sequence type like a list, but it is *immutable*. A tuple consists of a number of values separated by commas. The enclosing brackets are optional.

In [10]:
a = (1, 2, 3)
a[0]

1

In [11]:
a = 1, 2, 3
a[0]

1

Immutable objects cannot be changed 'in place'. Altering them required creating a copy of the object, so they are not actually altered at all.

### Tuple Length and Slicing
The built-in function `len()` and slicing work on tuples as well as lists. Since parentheses is also used for grouping, tuples with a single value are represented with an additional comma.

In [12]:
a = (5, 6, 7)
len(a)

3

In [13]:
a = (5, 6, 7)
a[1:]

(6, 7)

In [14]:
a = (1)
a

1

In [15]:
b = (1,)
b

(1,)

## Task 8
Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [1]:
# Try to solve this task here
a = [('gen',2,56,),('ear',78,1,3,),('you',67,990,86)]
sorteda=sorted(a,key=lambda x: x[-1])
print(sorteda)

[('ear', 78, 1, 3), ('gen', 2, 56), ('you', 67, 990, 86)]

In [8]:
# Click here for a solution

mytuples=[("fred",52,7), ("barny",48,5), ("wilma",48,8), ("betty",50,4)]
mysortedtuples=sorted(mytuples, key=lambda x: x[-1])
print(mysortedtuples)

[('betty', 50, 4), ('barny', 48, 5), ('fred', 52, 7), ('wilma', 48, 8)]

## Task 9
Write a Python program to remove duplicates from a list.

In [5]:
# Try to solve this task here
import random
deck = random.choices(range(0,52),k=60)
print ("Original deck:", deck)
unique_deck = (list(dict.fromkeys(deck)))
print("Unique deck:", unique_deck)

Original deck: [12, 24, 3, 49, 5, 34, 34, 16, 44, 12, 2, 13, 16, 9, 49, 14, 20, 23, 50, 26, 5, 28, 31, 0, 32, 48, 9, 38, 44, 0, 12, 28, 45, 20, 24, 23, 45, 23, 26, 34, 12, 47, 45, 23, 17, 22, 12, 30, 4, 5, 4, 5, 3, 22, 45, 32, 41, 2, 35, 28]
Unique deck: [12, 24, 3, 49, 5, 34, 16, 44, 2, 13, 9, 14, 20, 23, 50, 26, 28, 31, 0, 32, 48, 38, 45, 47, 17, 22, 30, 4, 41, 35]

In [13]:
# Click here for a solution

thing = [0, 0, 1, 1, 2, 3, 4, 5, 5]
print(list(set(thing)))

[0, 1, 2, 3, 4, 5]

## Sets
Sets are unordered collections of unique elements.

In [ ]:
x = set([3,2,2,1])
x

There is a shorthand notation for writing a set:

In [14]:
x = {3, 1, 2, 1}
x

{1, 2, 3}

### `in`
Just like lists, the existence of an element can be checked using the `in` operator. However, this operation is faster in sets compared to lists.

In [15]:
x = {1, 2, 3}
print(1 in x)
print(10 in x)

True
False

## Strings
Strings are a sequence of characters. String literals may be represented by enclosed characters in `'...'` or `"..."`, but you cannot mix these.

Strings also behave like lists in many ways. The length of a string can be found using the built-in function `len()`.

In [16]:
len("How's my driving?")

17

### String Indexing and Slicing
Indexing and slicing on strings behave similar to that on lists.

In [17]:
a = "helloworld"
a[1]

'e'

In [18]:
a[-2]

'l'

In [19]:
a[1:5]

'ello'

In [20]:
a[::-1]

'dlrowolleh'

### Substrings
The `in` operator can be used to check if a string is present in another string.

In [21]:
'hell' in 'hello world'

True

In [22]:
'heaven' in 'hello world'

False

### `split()` and `join()`
The `split()` method splits a string using a delimiter. If no delimiter is specified it uses any whitespace character as a delimiter.

In [23]:
"Hello world!".split()

['Hello', 'world!']

In [27]:
"a,b,c".split(',')

['a', 'b', 'c']

The `join()`method joins a list of strings.

In [28]:
" ".join(['hello', 'world'])

'hello world'

In [29]:
','.join(['a','b','c'])

'a,b,c'

### `upper()` and `lower()`
* `str.upper()` returns a copy of the string with characters converted to uppercase.
* `str.lower()` returns a copy of the string with characters converted to lowercase.
* `str.replace(old, new[, count])` returns a copy of the string with all substrings `old` replaced by `new`.
* `unicode.isdecimal()` returns `True` if there are only decimal characters in the string, `False` otherwise. Decimal characters include digits, and other characters that can be used to form decimal numbers.

There are many more string methods...

In [31]:
a = "howdy helen"
print(a.replace('h', 'b'))
a = '     Hello World'
a = a.lower()
print(a)
a = a.strip()
print(a)

bowdy belen
     hello world
hello world

### `strip()`
The `strip()` method returns a copy of the given string with leading and trailing whitespace removed. Optionally a string can be passed as an argument to remove characters from that string instead of whitespace.

In [33]:
' hello world\n'.strip()

'hello world'

In [34]:
'abcdefgh'.strip('abdh')

'cdefg'

### Formatting
Python supports formatting values into strings. Although this can include very complicated expressions, the most basic usage it to insert values into a string with the `%s` placeholder.

In [44]:
a = [22.1,2,41,2]
b = 'Spain'
"%f, %i, %i, %i is the best number in %s" % (a[0],a[1], a[2], a[3], b)

'22.100000, 2, 41, 2 is the best number in Spain'

In [45]:
'Chapter %d: %s' % (2, 'Data Structures')

'Chapter 2: Data Structures'

## Task 10
Write a program to generate all possible sentences of the form *subject verb object* where subject is in `['I', 'You']`, verb is in `['Hate', 'Love']` and object is in `['Darts', 'Rugby', 'Basketball']`. Hint: Use `list[index]` notation to get an element from the list. You will need three nested loops.

In [1]:
# Try to solve this task here

In [9]:
# Click here for a solution

subj = ['I', 'You']
verb = ['Hate', 'Love']
obj = ['Darts', 'Rugby', 'Basketball']

for i in subj:
    for j in verb:
        for k in obj:
            print("%s %s %s." % (i, j.lower(), k.lower()))

I hate darts.
I hate rugby.
I hate basketball.
I love darts.
I love rugby.
I love basketball.
You hate darts.
You hate rugby.
You hate basketball.
You love darts.
You love rugby.
You love basketball.

## Task 11
Write a Python program to check whether a letter entered by the user is a vowel or a consonant. Expected output: 
* Input a letter of the alphabet: e
* e is a vowel.

In [1]:
# Try to solve this task here

In [10]:
# Click here for a solution

vowels = ['a', 'e', 'i', 'o', 'u']
x = input("Give me a letter: ")
if x in vowels:
    print("%s is a vowel." % x)
else:
    print("%s is a consonant." % x)

Give me a letter:  c

c is a consonant.

## Multiple Dimensions

In [54]:
a = [[0]*5]*5
a

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [55]:
a[0][0] = 3
a

[[3, 0, 0, 0, 0],
 [3, 0, 0, 0, 0],
 [3, 0, 0, 0, 0],
 [3, 0, 0, 0, 0],
 [3, 0, 0, 0, 0]]

The above represents an attempt to make a 5x5 (two-dimensional) list initialised to 0. The problem lies in the fact that the second dimension is simply a copy of a reference to the 1-dimensional list... and remains so!

In [2]:
rows = 3
cols = 2
a = []

for row in range(rows): a = a + [[0]*cols]
print(a)
a[0][0] = 3
print(a)

[[0, 0], [0, 0], [0, 0]]
[[3, 0], [0, 0], [0, 0]]

This does what we want! If in doubt about whether you have a unique reference, the `id()` function can be used to check.

## Understanding References
A variable name is a reference to an object. Numbers (int, float, etc.), strings, tuples (and others) are **immutable**, read-only. Lists, dictionaries, sets (and others) are **mutable**.

Assigning a value to an int produces a new int. They are immutable, cannot be changed. Whereas lists are mutable, they can be changed.

Assigning to mutable does not create new objects, the values are overwritten.

In [3]:
a = 23
print(id(a))
a = 24
print(id(a))

9672112
9672144

In [4]:
b = [2]*5
print(id(b))
print(id(b[0]))
print(id(b[1]))

140704653156096
9671440
9671440

In [5]:
b[0] = 7
print(id(b))
print(id(b[0]))
print(id(b[1]))

140704653156096
9671600
9671440

In [9]:
c = b * 5
print(b)
print(c)
print(id(c))
print(id(c[0]))
print(id(c[1]))

[7, 2, 2, 2, 2]
[7, 2, 2, 2, 2, 7, 2, 2, 2, 2, 7, 2, 2, 2, 2, 7, 2, 2, 2, 2, 7, 2, 2, 2, 2]
140704606877440
9671600
9671440

### Passing Immutables and Mutables

In [ ]:
def alter(l, i):
    l[0] = 25
    i = 6

lst = [1, 2, 3, 4, 5]
itg = 10
alter(lst, itg)
print(lst)
print(itg)

As `lst` (a list) is mutable, the change made to an element i=of the list inside the function is reflected in the original list.

As `itg` is immutable, a copy is made inside the function and the change is not reflected in the original integer.

## Files
Python provides a built-in function `open()` to open a file, which returns a file object.

The second argument to `open()` is options, which defaults to `'r'` when not specified

In [ ]:
f = open('foo.txt', 'r') # open a file in read mode
f = open('foo.txt', 'w') # open a file in write mode
f = open('foo.txt', 'a') # open a file in append mode

### Binary/Text
Unix does not distinguish binary files from text files but Windows does. On Windows `'rb'`, `'wb'`, `'ab'` should be used to open a binary file (non-text) in read, write, and append mode respectively.

The easiest way to read the contents of a file is by using the `read()` method.

In [63]:
f = open('bar.txt')
f.read()

'I have put some words in a text file called bar.txt\n'

### `open()` - full syntax
`open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)`

Encoding is the name of the encoding used to decode or encode the file. This should only be used in text mode. The default encoding is platform dependent (whatever `locale.getpreferredencoding()` returns), but any text encoding supported by Python can be used. See the `codecs` module for the list of supported encodings.

For Windows text files, you will often need to specify `'utf-8'`.

### Reading files
The contents of a file can be read line-wise using `readline()` and `readlines()` methods. The `readline()` method returns an empty string when there is nothing more to read in a file.

In [3]:
print(open('words.txt').readlines())
f = open('words.txt')
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
f.close()

['Noam Chomsky - On Being Truly Educated\n', "To be truly educated from this point of view means to be in a position to inquire and to create on the basis of the resources available to you which you've come to appreciate and comprehend.\n", "To know where to look, to know how to formulate serious questions, to question a standard doctrine if that's appropriate, to find your own way, to shape the questions that are worth pursuing, and to develop the path to pursue them.\n", 'That means knowing, understanding many things but also, much more important than what you have stored in your mind, to know where to look, how to look, how to question, how to challenge, how to proceed independently, to deal with the challenges that the world presents to you and that you develop in the course of your self education and inquiry and investigations, in cooperation and solidarity with others.\n', "That's what an educational system should cultivate from kindergarten to graduate school, and in the best cases sometimes does, and that leads to people who are, at least by my standards, well educated.\n"]
Noam Chomsky - On Being Truly Educated

To be truly educated from this point of view means to be in a position to inquire and to create on the basis of the resources available to you which you've come to appreciate and comprehend.

To know where to look, to know how to formulate serious questions, to question a standard doctrine if that's appropriate, to find your own way, to shape the questions that are worth pursuing, and to develop the path to pursue them.

That means knowing, understanding many things but also, much more important than what you have stored in your mind, to know where to look, how to look, how to question, how to challenge, how to proceed independently, to deal with the challenges that the world presents to you and that you develop in the course of your self education and inquiry and investigations, in cooperation and solidarity with others.

Note that open files should be closed after use, using the `close()` method.

### Reading Individual Words
If the `with` statement is used, the file is automatically closed at the end of the block:

In [1]:
with open('firstwords.txt', 'r') as f:
    for line in f:
        for word in line.split():
            print(word)

Noam
Chomsky
-
On
Being
Truly
Educated

By default, the `String.split()` method splits a string on whitespace characters. This means that punctuation is preserved.

## Python Regular Expressions
A regular expression (RE) specifies a set of strings that matches it. There is excellent documentation at [https://docs.python.org/3/library/re.html](https://docs.python.org/3/library/re.html) No matter which language you program with, Regular Expressions are an essential part os any programmer's toolkit.

### Regular Expressions
The following code uses Python's Regular Expressions (regex) to pattern-match words. Punctuation is discarded (hyphenated words are broken up and the hyphens are discarded).

In [11]:
import re
with open('firstwords.txt', 'r') as f:
    for line in f:
        for word in re.findall(r'\w+', line):
            print(word)

Noam
Chomsky
On
Being
Truly
Educated

The following example is reasonably fast and uses regular expressions to substitute punctuation characters by `""` before splitting on white space.

In [68]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [1]:
import re, string
text = "this is, the experimental! text."
print(re.sub('[' + string.punctuation + ']','',text).split())

['this', 'is', 'the', 'experimental', 'text']

## Writing to Files
The `write()` method is used to write data to a file opened in write or append mode.

In [ ]:
f = open('foo.txt', 'w')
f.write('a\nb\nc')
f.close()

In [ ]:
f = open('foo.txt', 'a')
f.write('d\n')
f.close()

### Writing...
The `writelines()` method is convenient to use when the data is available as a list of lines.

In [ ]:
f = open('foo.txt')
f.writelines(['a\n', 'b\n', 'c\n'])
f.close()

## Reading and Writing CSV Files
It is possible to read and write CSV (comma-separated values) files directly:

In [2]:
with open('foo.csv', 'w') as f:
    f.write('a,b,c\r\n')
    f.write('1,2,3\r\n')

with open('foo.csv', 'r') as f:
    for row in f:
        print(row.replace("\n", "").split(','))

['a', 'b', 'c']
['1', '2', '3']

However, due to complications around fields containing commas and quotation marks in CSV files, it is better to use Python's csv module:

In [4]:
import csv

with open('foo.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(['a','b','c'])
    writer.writerow(['1','2','3'])

with open('foo.csv', 'r') as f:
    for row in csv.reader(f):
        print(row)

['a', 'b', 'c']
['1', '2', '3']